* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #e3a587; /* Earthy tone for the Australian outback */
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  background: linear-gradient(
    to bottom,
    #0091ad 0%,
    #00688b 100%
  ); /* Gradient from ocean blue to deeper sea blue */
}
